<div class="container">
  <div class="profile" *ngIf="user">
    <h3>User {{user.username}} </h3>
    <h4>Info</h4>
    <p>{{user.email}}</p>
    <p>{{user.firstName}}</p>
    <p>{{user.middleName}}</p>
    <p>{{user.lastName}}</p>
    <p>{{user.registrationDate}}</p>
    <p>{{user.role}}</p>
  </div>
  <app-message-create *ngIf="isUserLoggedInUser()"></app-message-create>
  <div class="messagelist">
    <li *ngFor="let kweet of kweets">
      <app-message-details [kweet]="kweet" (onMessageDeleted)="OnReceiveUserKweetDelete($event)">
      </app-message-details>
    </li>
  </div>
</div>
