<div class="container">
  <div class="profile" *ngIf="user">
    <h3>User {{user.username}} </h3>
    <h4>Info</h4>
    <p>{{user.email}}</p>
    <p>{{user.firstName}}</p>
    <p>{{user.middleName}}</p>
    <p>{{user.lastName}}</p>
    <p>{{user.registrationDate}}</p>
    <p>{{user.role}}</p>
  </div>
  <app-message-create *ngIf="isUserLoggedInUser()"></app-message-create>
  <div class="messagelist">
    <li *ngFor="let kweet of kweets">
      <app-message-details [kweet]="kweet">
      </app-message-details>


     <!-- <div class="message">
        <p>Kweet type {{kweet.discriminator | kweetType}} </p>

        <a routerLink="/user/{{kweet.messager.username}}">
          <h4>{{kweet.messager.username}} </h4>
        </a>

        <div [innerHTML]="kweet | kweetMessage">

        </div>

        <a routerLink="/user/{{kweet.messager.username}}/{{kweet.id}}">
          <p>{{kweet.date}}</p>
        </a>

        <div class="options">
          <div class="delete" *ngIf="equalsModeratorAdminOrUser(kweet)">
            <button (click)="Delete(kweet)">remove</button>
          </div>
        </div>

      </div> -->
    </li>
  </div>
</div>
