<div class="container" *ngIf="kweet">
  <div class="message">
    <p>Kweet type {{kweet.discriminator | kweetType}}</p>

    <a routerLink="/user/{{kweet.messager.username}}">
      <h4>{{kweet.messager.username}} </h4>
    </a>

    <div [innerHTML]="kweet | kweetMessage">

    </div>

    <a routerLink="/user/{{kweet.messager.username}}/{{kweet.id}}" (click)="Reload()">
      <p>{{kweet.date}}</p>
    </a>

    <app-message-delete [kweet]="kweet" (onMessageDeleted)="onReceiveDeleteKweet($event)">
    </app-message-delete>

    <app-message-likes [kweet]="kweet">
    </app-message-likes>

  </div>
  <div class="other" *ngIf="!kweetUsingInput">
    <div id="reply" class="replies" >
      <h4>Create reply</h4>
      <app-message-reply [kweet]="kweet" (onUserReply)="OnUserCreatedReply($event)"></app-message-reply>
    </div>
    <br>
    <div id="remessage" class="replies" >
      <h4>Create remessage</h4>
      <app-message-remessage [kweet]="kweet"></app-message-remessage>
    </div>
    <br>
    <div id="replies" class="replies">
      <h2>Replies</h2>
      <app-message-replies [kweet]="kweet"></app-message-replies>
    </div>
  </div>
</div>
