<div class="container">
  <div class="main" *ngIf="kweet">
    <a routerLink="/user/{{kweet.messager.username}}">
    <h4>{{kweet.messager.username}} </h4>
    </a>
    <div [innerHTML]="kweet | kweetMessage">

    </div>
    <p>{{kweet.date}}</p>
    <p>Kweet type {{kweet.discriminator | kweetType}}</p>

    <div class="options">
      <li>
        <ul *ngIf="equalsModeratorAdminOrUser()">
          <button (click)="Delete()">remove</button>
        </ul>
      </li>
    </div>

  </div>
</div>
