<div class="container">
  <div class="message" *ngIf="kweet">
    <p>Kweet type {{kweet.discriminator | kweetType}}</p>

    <a routerLink="/user/{{kweet.messager.username}}">
      <h4>{{kweet.messager.username}} </h4>
    </a>

    <div [innerHTML]="kweet | kweetMessage">

    </div>

    <a routerLink="/user/{{kweet.messager.username}}/{{kweet.id}}">
      <p>{{kweet.date}}</p>
    </a>

    <app-message-delete [kweet]="kweet" (onMessageDeleted)="onReceiveDeleteKweet($event)">
    </app-message-delete>

  </div>
</div>
